
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}

html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* background-color: #eee; */
  background-size: 100% 100%
}

ul {
  list-style-type: none
}

header {
  background-color: rgba(0,0,0,0.2);
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 17px
}

.demo-wrapper {
  padding: 2em .5em;
  width: 100%;
  height: 100%;
  -webkit-perspective: 3300px;
  -ms-perspective: 3300px;
  -o-perspective: 3300px;
  perspective: 3300px;
  position: relative
}

.dashboard {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
}

.col1bmh,
.col2bmh,
.col3bmh,
.col4bmh {
  width: 99%;
  margin: 0.4em auto
}



::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-track {
  background: #ddd;
}


.r-page {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 42px; /* 0 */
  left:0;
  bottom:0;
  opacity: 0;
  color: white;
  z-index: 10;
  padding:10px;

  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg) translateZ(5em);
  -ms-transform: rotateY(-90deg) translateZ(5em);
  -o-transform: rotateY(-90deg) translateZ(5em);
  transform: rotateY(-90deg) translateZ(5em)
}

.page-content{
  overflow-y:auto;
  max-height:100%;
  font-size:.6em;
  padding:.6em;
  text-align:left;
}

/*default colors just in case you don't define these colors on the tiles*/
.r-page{
  background-color: white;
  color:black;
}
.page-title {
  margin: .25em 0;
  font-weight: 100;
  font-size: 3em;
  text-align:center;
}

.close-button {
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  /* position: absolute;*/
  top: .75em;
  left: .75em;
  cursor: pointer;
  line-height: .8em;
  text-align: center
}

.close-button a {
  text-decoration: none;
  color: inherit;
}

.tile {
  float: left;
  margin: 0 auto 1%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  color: #333;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out
}

.tile-2xbig {
  height: 16.15em;
  width: 100%
}

.tile-big {
  width: 100%
}

.tile img {
  width: 100%;
  height: 70%
}

.tile-caption {
  position: absolute;
  z-index: 1;
  background-color: #455962;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  text-align: left
}

.caption-bottom {
  left: 0;
  bottom: 0;
  right: 0;
  height: 40%
}

.caption-left {
  left: -100%;
  top: 0;
  bottom: 0;
  width: 40%;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear
}

.tile:hover .caption-left {
  left: 0
}

.tile-small {
  width: 50%;
  /*margin-right: 0; 2%*/
}

/*.tile-small.last {
  margin-right: 0
}*/

.tile div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  padding: 0 1em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.tile div p {
  display: table-cell;
  vertical-align: middle
}

/*styling the individual tiles*/

.tile-1bmh, .tile-2bmh, .tile-3bmh, .tile-4bmh {
  background-color: #76ACD6; /* rgba(0,173,255,.54); */
  color: white
}

.tile-13bmh, .tile-23bmh {
  height: 100%;
  background-color: rgba(0,173,255,0);;
}
/*.tile-13bmh, .tile-23bmh {
  background-color: #76ACD6;
  color: white
}

.tile-1bmh:hover, .tile-2bmh:hover, .tile-3bmh:hover, .tile-4bmh:hover {
  background-color: #2A9FD8;
  color: white
}*/


/* slide text inside tile up */

.slideTextUp div:nth-child(2) {
  top: 100%
}

.slideTextUp:hover div {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

/* slide text inside tile to the right*/

.slideTextRight div:first-child {
  left: -100%
}

.slideTextRight:hover div {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

/* slide text inside tile to the left */

.slideTextLeft div:nth-child(2) {
  left: 100%
}

.slideTextLeft:hover div {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

/* rotate tile in 3D*/

.rotate3d {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  overflow: visible
}

.faces {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: -o-transform 1s;
  transition: transform 1s
}

.faces div {
  display: block;/*.tile-1 p {
  font-size: 1.3em
}*/

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}
.faces .front{/*default*/
  background-color: #455962;
  color: #ddd;
}

.rotate3dX .front {
  background-color: #455962;
  color: #ddd
}
.rotate3dY .front {
  background-color: #ddd;
  color: #455962;
}

.faces .back {
  background-color: #455962;
  color: #ddd
}

.front span {
  display: inline-block;
  font-size: 4em;
  margin-top: .5em
}

.rotate3dY .back {
  -webkit-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg )
}

.rotate3dX .back {
  -webkit-transform: rotateX( 180deg );
  -ms-transform: rotateX( 180deg );
  -o-transform: rotateX( 180deg );
  transform: rotateX( 180deg )
}

.back p {
  padding: 2.5em 3em
}

.rotate3dY:hover .faces:hover {
  -webkit-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg )
}

.rotate3dX:hover .faces:hover {
  -webkit-transform: rotateX( 180deg );
  -ms-transform: rotateX( 180deg );
  -o-transform: rotateX( 180deg );
  transform: rotateX( 180deg )
}


/*======================= media queries =======================*/

@media screen and (min-width: 43.75em) {
  .col1bmh,
  .col2bmh,
  .col3bmh,
  .col13bmh,
  .col23bmh
 {
    float: left;
    margin-right: 1%;
  }

  .col1bmh,
  .col3bmh {
    width: 24%
  }

  .col2bmh {
    width: 49%
  }

  .col13bmh {
    width: 32%
  }

  .col23bmh {
    width: 66%
  }

  .page-title{
    font-size:2.5em;
  }
  .page-content{
    font-size:1em;
  }
  .close-button{
    font-size:2em;
  }
}

@media screen and (min-width: 64em) {
  .col1bmh,
  .col2bmh,
  .col3bmh
 {
    float: left;
    margin-right: .5%;
    width: 31%
  }

  .col13bmh
  {
     float: left;
     margin-right: .5%;
     width: 31%
   }

   .col23bmh  {
        float: left;
        margin-right: .5%;
        width: 62%
    }

  .col3bmh {
    margin-right: 0
  }

  .col1bmh {
    margin-left: 2em
  }

  .col13bmh {
    margin-left: 2em
  }

  .col23bmh {
    margin-right: 0
  }

  .page-title{
    font-size:3.5em;
  }
}


/****************************************************
BASTIDE
****************************************************/

.tiletitle {
  font-weight: bold;
}

.menuBastideDiv {
  display: inline-block;
}

.menuBastideDiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menuBastideDiv li {
  float: left;
}

.menuBastideLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

.router-link-active {
  background-color: #336083;
}

.menuBastideLi a:hover {
    background-color: cornFlowerBlue;
}

.tileBastide a {
  text-decoration: none;
  color: white;
}
