/*

Copyright © 2013 Sara Soueidan

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Enter and leave animations can use different */
/* durations and timing functions.              */
/* Transition tile-fade */
.tile-fade-enter-active {
  transition: all .3s ease;
}
.tile-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.tile-fade-enter, .tile-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}

.tileW8 {
  -webkit-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  -o-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards
}

.slidePageLeft {
  opacity: 1;
  -webkit-transform: rotateY(0) translateZ(0);
  -ms-transform: rotateY(0) translateZ(0);
  -o-transform: rotateY(0) translateZ(0);
  transform: rotateY(0) translateZ(0);
  -webkit-animation: slidePageLeft .8s ease-out 1 normal forwards;
  -o-animation: slidePageLeft .8s ease-out 1 normal forwards;
  animation: slidePageLeft .8s ease-out 1 normal forwards
}


@-webkit-keyframes rotatePageInFromRight {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }
}

@-webkit-keyframes slidePageLeft {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

@-o-keyframes rotatePageInFromRight {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    -ms-transform: rotateY(-90deg) translateZ(5em);
    -o-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }
}

@-o-keyframes slidePageLeft {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}
