<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Bastide tiles</title>

  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/transition.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>

  <!-- Do not mount Vue to <html> or <body> - mount to normal elements instead. -->
  <!-- span because div breaks div content... -->
  <span id="vueElement">

  <!--
    HEADER
  -->

    <header>
      <div id="menuBastide" class="menuBastideDiv">
          <ul>
            <li v-on:click="closeTile"><router-link to="/" exact><img src="images/94x42.png" title="LOGO"></router-link></li>
            <div v-if="tilesVisible"></div> <!-- Only for v-else... -->
            <template v-else v-for="item in bastidePages">
              <li class="menuBastideLi"><router-link :to="item.link">{{ item.titre }}</router-link></li>
            </template>
          </ul>
      </div>
    </header>


    <!--
      PAGE CONTENU
    -->

    <div class="demo-wrapper">
      <div id="bastideContent">
        <div :class="{ 'tileW8': tileW8, 'slidePageLeft': slidePageLeft  }" class="bastide-content-page r-page">
          <div v-on:click="closeTile" class="my-close-button close-button">
            <router-link to="/" exact><img src="images/bastide-back.png" title="Home"></router-link>
          </div>
          <router-view></router-view>
        </div>
      </div>

    <!--
      TILES
    -->

      <div class="dashboard clearfix">
        <div id="menutiles">
        <!-- BASTIDE série tuiles menu haut -->
          <transition name="tile-fade">

            <ul class="tiles" id="BastideTiles" v-if="tilesVisible">

              <div class="col1bmh clearfix">
                <router-link :to="bastidePages[0].link">
                  <li v-on:click="openTile" :class="bastidePages[0].classe" class="tileBastide tile">
                    <p class="tiletitle">{{ bastidePages[0].titre }}</p>
                    <p class="tilecontent">Contenu de {{ bastidePages[0].titre }}</p>
                  </li>
                </router-link>
              </div>

              <div class="col2bmh clearfix">
                <router-link :to="bastidePages[1].link">
                  <li v-on:click="openTile" :class="bastidePages[1].classe" class="tileBastide tile">
                    <p class="tiletitle">{{ bastidePages[1].titre }}</p>
                    <p class="tilecontent">Contenu de {{ bastidePages[1].titre }}</p>
                  </li>
                </router-link>

                <router-link :to="bastidePages[2].link">
                  <li v-on:click="openTile" :class="bastidePages[2].classe" class="tileBastide tile">
                    <p class="tiletitle">{{ bastidePages[2].titre }}</p>
                    <p class="tilecontent">Contenu de {{ bastidePages[2].titre }}</p>
                  </li>
                </router-link>
              </div>

              <div class="col3bmh clearfix">
                <router-link :to="bastidePages[3].link">
                  <li v-on:click="openTile" :class="bastidePages[3].classe" class="tileBastide tile">
                    <p class="tiletitle">{{ bastidePages[3].titre }}</p>
                    <p class="tilecontent">Contenu de {{ bastidePages[3].titre }}</p>
                  </li>
                </router-link>
              </div>

            </ul>
          </transition>
        </div> <!-- Menu tiles -->


        <div id="hometiles">
          <transition name="tile-fade">
            <ul class="tiles" v-if="tilesVisible">
              <div class="col13bmh clearfix">
                  <li class="tile tile-big tile-13bmh">
                      <img src="images/344x377.png">
                  </li>
                  <li class="tile tile-big tile-13bmh">
                      <img src="images/344x377.png">
                  </li>
              </div>
              <div class="col23bmh clearfix">
                <li class="tile tile-big tile-23bmh">
                    <img src="images/596x766.png">
                </li>
              </div>

            </ul>
          </transition>
        </div>

      </div>

      <!--end dashboard-->
    </div>
  </span> <!-- end vue element -->

  <script src="js/vendor/vue.js"></script>
  <script src="js/vendor/vue-router.js"></script>
  <script src="js/scriptRouter.js"></script>
  <script src="js/scriptTiles.js"></script>
</body>
</html>
